package frontend

import "github.com/ryanfaerman/netctl/web/named"

templ (h HTML) AnonymousDashboard() {
	@h.Page() {
		<h1>Hello world</h1>
		@h.SessionLogin()
	}
}

templ (h HTML) AuthenticatedDashboard() {
	@h.Page() {
		<h1>Welcome Back!</h1>
		<a href={ templ.URL(named.URLFor("session-destroy")) } class="button">
			Logout
		</a>
	}
}
