.nav.sidebar {
  ul {
    list-style-type: none;
    padding: 1rem 0;
    margin-bottom: 0;
    font-size: 1.5rem;

    a {
      color: var(--text-color-softer);
      text-decoration: none;
      display: inline-block;
      width: 100%;

      &.active {
        font-weight: bold;
        position: relative;

        &::before {
          content: '';
          width: 3px;
          height: 100%;
          background: var(--accent-color);
          border-radius: 0.4em;
          top: 0;
          left: 0;
          position: absolute;
        }
      }

      i {
        margin-right: 0.5em;
        margin-left: 0.5em;
      }
    }

    li {
      padding: 0.75rem 0.5rem;
      border-radius: 0.3em;
      margin-bottom: 0;

      &:hover {
        background-color: var(--background-color-softer);
      }
    }

  }

  .section {
    h2 {
      font-size: 1.1em;
      letter-spacing: 0.1rem;
      border-top: 1px solid var(--border-color-softer);
      padding-top: 1.4em;
      margin-bottom: 0;
      font-weight: 600;
      padding-left: .7em;
      font-variant: small-caps;
    }
  }
}
