/* ---- General ---- */
/* .container { */
/*   max-width: 800px; */
/* } */

html {
  --danger-color: #cc0033;
  --danger-bg-color: #fce4e4;
}


.center {
  text-align: center;
}

#main {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

/* ---- Record Table ---- */
.grid-third {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.role-control {
  font-weight: bold;
}

.grid-container.net {
  grid-template-columns: 1fr 2fr;
}

.check-in {
  margin-top: 2.5rem;
  text-align: left;
}

.check-in label {
  position: absolute;
  top: -2.5rem;
}

.input-group {
  position: relative;
}

.input-annotations {
  font-size: 0.9em;
  color: var(--text-color-softer);
  margin-top: -10px;
  text-align: left;
}

.help-text {
  color: #999;

}

.error label, .error-message {
  color: var(--danger-color);
}

.error input[type=text],
.error input[type=email],
.error input[type=password],
.error select {
  background-color: var(--danger-bg-color);
  border-color: var(--danger-color);
}

#htmx-alert {
	color: var(--danger-color);
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 10 auto;
	padding: 5px 20px;
	box-sizing: border-box;
	border: 1px solid var(--danger-color);
	background-color: var(--danger-bg-color);
	border-radius: 3px;
}
